{% if ansible_system == "Linux" and is_wsl %}
# SSH Agent Bridge for WSL
export SSH_AUTH_SOCK=$HOME/.ssh/agent.sock
ss -a | grep -q $SSH_AUTH_SOCK || {
    mkdir -p ~/.ssh && chmod 700 ~/.ssh
    rm -f $SSH_AUTH_SOCK
    (setsid socat UNIX-LISTEN:$SSH_AUTH_SOCK,fork EXEC:"{{ npiperelay.install_path }} -ei -s //./pipe/openssh-ssh-agent",nofork &) >/dev/null 2>&1
}
{% endif %}

# Editor configuration
export EDITOR={{ editor }}
export VISUAL={{ editor }}

# Editor aliases
alias vi={{ editor }}
alias vim={{ editor }}

# Useful aliases
{% if ansible_system == "Darwin" %}
alias ll='ls -alFG'
alias la='ls -AG'
alias l='ls -CFG'
{% else %}
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
{% endif %}
