[interop]
appendWindowsPath = false

[boot]
systemd = {{ wsl_systemd | default('false') }}

[network]
generateHosts = {{ wsl_generate_hosts | default('true') }}
generateResolvConf = {{ wsl_generate_resolv_conf | default('true') }}
