[interop]
appendWindowsPath = {{ wsl_config.append_windows_path | default('false') }}

[boot]
systemd = {{ wsl_config.systemd | default('false') }}

[network]
generateHosts = {{ wsl_config.generate_hosts | default('true') }}
generateResolvConf = {{ wsl_config.generate_resolv_conf | default('true') }}
